parameters:
    ignoreErrors:
        -
            message: '#Constant XDEBUG_[A-Z_]+ not found.#'
            path: tests/bootstrap.php
        -
            message: '/Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, array\(Illuminate\\Container\\Container, string\) given./'
            path: tests/Stubs/Vendor/Illuminate/Contracts/Foundation/ApplicationStub.php
        -
            message: '#Method Tests\\LoyaltyCorp\\Search\\Stubs\\Vendor\\Elasticsearch\\CallableResponseClientStub::bulk\(\) should return array but returns GuzzleHttp\\Ring\\Future\\FutureArray\.#'
            path: tests/Stubs/Vendor/Elasticsearch/CallableResponseClientStub.php
        -
            message: '#Method (.*) should return (.*) but return statement is missing\.#'
            path: tests/Stubs/Vendo
        -
            message: '#Method (.*) return type has no value type specified in iterable type (.*)\.#'
            path: tests/Stubs/Vendor
        -
            message: '#Method (.*) has parameter (.*) with no typehint specified\.#'
            path: tests/Stubs/Vendor
        -
            message: '#Method (.*) has parameter (.*) with no value type specified in iterable type (.*)\.#'
            path: tests/Stubs/Vendor
